extends layout
block content
    h1 Как написать текст о компании, который поможет продавать
    <p>траница «О компании» или «О нас» — это место знакомства. Будущие покупатели узнают, кто вы, что делаете и почему решили открыть магазин.<br>Кроме удовлетворения любопытства посетителей, это первый шаг к установлению долгосрочных отношений с клиентами. Это страница, на который вы представляете себя и бренд. Звучит серьёзно, правда? Именно поэтому к тексту о компании надо подойти ответственно.<br>Вы можете написать такой текст самостоятельно, следуя советам Кейли Мур (Kaleigh Moore) — основательницы компании Lumen Ventures, профессионального копирайтера и контент-стратега.</p>

    

                    